* {
    margin: 0;
    padding: 0;
}

.game {
    position: absolute;
    overflow: hidden;
}

.game-container {
    position: relative;
}

.game-background, .game-block-container, .game-plane-container {
    left: 0;
    top: 0;
    position: absolute;
}

.game-block-container *, .game-plane-container * {
    position: absolute;
}

.game-block-container div {
    border: 3px solid red;
    box-sizing: border-box;
}

.game-block-container img {
    width: 100%;
    height: 100%;
}

.game-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

.game-turn-left-button, .game-turn-right-button {
    position: absolute;
    top: 50%;
    bottom: 0;
}

.game-turn-left-button {
    left: 0;
    right: 50%;
}

.game-turn-right-button {
    left: 50%;
    right: 0;
}
