* {
    margin: 0;
    padding: 0;
}

.start, .finish {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 30% 10% 0;
    color: #fff;
    background-color: rgba(0, 0, 0, .7);
    font-size: 20px;
    box-sizing: border-box;
    text-align: center;
}